// A map of breakpoints.
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 1024px,
  desktop: 1202px
);
$--primary-color: #fa4242;
$--text-color: #ddd;
$--text-color-light: #333;
$--mask-color: rgba(30, 30, 30, .95);
$--mask-color-light: rgba(255, 255, 255, 0.95);

// Breakpoints SCSS
@mixin breakpoint($breakpoint) {
  // If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
	  //Build the media query
		@media (min-width: $breakpoint-value) {
			@content;
		}
	} 
}

body.compensate-for-scrollbar {
  overflow: hidden !important;
  touch-action: none;
}

.cool-lightbox{
  position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999;
  transition: all .3s ease;
  color: $--text-color;
  &.theme-light{
    color: $--text-color-light;
    
    .cool-lightbox-toolbar{
      background-color: rgba(255, 255, 255, 0.3);
      .icon-btn:hover{
        color: #000;
      }
    }
    .cool-lightbox-navigation{
      background: rgba(225, 225, 225, .3);
      &:hover {
        color: #000;
      }
    }
    .cool-lightbox-mask{
      background-color: $--mask-color-light;
    }
    .cool-lightbox-loading {
      border-color: #b8b8b8;
      border-bottom-color: #000;
    }
  }

  *, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .cool-lightbox-mask{
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background-color: $--mask-color;
  }
  .cool-lightbox-progressbar{
    position: absolute; top: 0; right: 0; left: 0; z-index: 200;
    height: 2px;
    transform-origin: 0;
    transform: scaleX(0);
    transition: transform 3s linear;
    background: $--primary-color;
  }
  .cool-lightbox-navigation{
    position: absolute; z-index: 100;
    top: calc(50% - 50px);
    width: 40px; height: 40px;
    padding: 8px;
    background: rgba(0, 0, 0, .45);
    cursor: pointer;
    transition: all .3s ease;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      color: #fff;
    }
    @include breakpoint(phone) {
      width: 56px; height: 56px;
      padding: 16px;
    }
    &.is-prev{
      left: 8px;
    }
    &.is-next{
      right: 8px;
    }
    svg{
      width: 100%; height: 100%;
    }
  }
  .cool-lightbox-toolbar{
    position: absolute; top: 0; right: 0; left: 0; z-index: 100;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.3);
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    &__counter{
      margin-left: 16px;
      font-size: 16px;
    }
    &__buttons{
      display: flex;
      .icon-btn{
        display: inline-block;
        width: 44px;
        height: 44px;
        padding: 12px;
        transition: color .2s;
        cursor: pointer;
        > svg {
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: #FFFFFF;
        }
        &:disabled,&.is-disabled, &.is-disabled:hover{
          opacity: .6;
          cursor: not-allowed;
        }
      }
    }
  }
  .cool-lightbox-zoom {
    position: absolute; bottom: 15px; left: 50%; z-index: 100;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    border-radius: 8px;
    background-color: rgba(15, 15, 15, 0.8);
    transform: translateX(-50%);
    input[type=range] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 105px;
      background: transparent;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      transition: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #e6e6e6;
      border-radius: 11px;
      border: 0px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #000000;
      border: 1px solid #000000;
      height: 12px;
      width: 12px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -4.5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #e6e6e6;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      transition: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #e6e6e6;
      border-radius: 11px;
      border: 0px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000;
      border: 1px solid #000000;
      height: 12px;
      width: 12px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      transition: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #e6e6e6;
      border: 0px solid #000000;
      border-radius: 22px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
      background: #e6e6e6;
      border: 0px solid #000000;
      border-radius: 22px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 1px #000000;
      border: 1px solid #000000;
      height: 12px;
      width: 12px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #e6e6e6;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #e6e6e6;
    }
    .cool-lightbox-zoom__icon {
      height: 16px;
      width: 16px;
      color: #FFF;
      &:first-of-type {
        margin-right: 10px;
      }
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }
  .cool-lightbox-inner {
    position: absolute; top: 0; right: 0; left: 0; bottom: 0;
    padding-top: 44px;
    overflow: hidden;
    @include breakpoint(phone) {
      transition: all .3s ease;
    }
  }
  &.is-swipping {
    cursor: -webkit-grabbing; 
    cursor: grabbing;
    iframe {
      pointer-events: none;
    }
    .cool-lightbox-slide {
      transition: none;
    }
  }
  &.is-can-zoom {
    .cool-lightbox-slide {
      img {
        cursor: zoom-in;
      }
    }
  }
  &.is-zooming {
    .cool-lightbox-slide {
      img {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab; 
      }
    }
    .cool-lightbox-caption {
      opacity: 0;
    }
  }
  &.cool-lightbox--thumbs-right {
    .cool-lightbox-thumbs{
      right: -108px; top: 0; bottom: 0;
      width: 108px;
      height: 100%;
      padding: 4px;
      background-color: rgba(223, 223, 223, .6);

      @include breakpoint(phone) {
        width: 212px;
        right: -212px;
      }

      .cool-lightbox-thumbs__list{
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .cool-lightbox__thumb {
        width: 100px;
        height: 64px;
        margin-bottom: 6px;
      }
    }
    &.is-thumbs-show {
      .cool-lightbox-thumbs {
        right: 0;
      }
      .cool-lightbox-inner {
        right: 108px;
        @include breakpoint(phone) {
          right: 212px;
        }
      }
    }
  }
  &.cool-lightbox--thumbs-bottom {
    &.theme-light{
      .cool-lightbox-thumbs{
        background-color: rgba(235, 235, 235, .5);
        box-shadow: 0px 0px 6px -3.5px rgba(0, 0, 0, .25) inset;
      }
    }
    .cool-lightbox-thumbs {
      left: 0; bottom: -80px;
      width: 100%;
      height: 80px;
      padding: 8px 4px;

      .cool-lightbox-thumbs__list {
        width: 100%; height: 100%;
        justify-content: center;
        align-items: center;
      }
      .cool-lightbox__thumb {
        width: 96px;
        height: 100%;
        margin: 0 2px;
      }
    }
    &.is-thumbs-show {
      .cool-lightbox-thumbs {
        bottom: 0;
      }
      .cool-lightbox-inner {
        bottom: 80px;
      }
    }
  }
  .cool-lightbox-thumbs {
    position: absolute;
    overflow: hidden;
    transition: all .3s ease;
    color: $--primary-color;
    
    .cool-lightbox-thumbs__list {
      display: flex;
      align-items: flex-start;
    }
    .cool-lightbox__thumb {
      overflow: hidden;
      position: relative;
      display: block;
      background-color: black;
      cursor: pointer;
      border-radius: 4px;

      &:before {
        content: "";
        position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 10;
        transition: all .3s ease;
        border: 3px solid currentColor;
        opacity: 0;
      }
      &.active, &:hover {
        &:before {
          opacity: 1;
        }
      }
      img {
        width: 100%;
        height: 100%;
        // border-radius: 4px;
        object-fit: cover;
      }
      &.is-video {
        img{
          opacity: .65;
        }
        &:after {
          content: "";
          position: absolute; top: 50%; left: 50%; z-index: 10;
          transform: translate(-50%, -50%);
          width: 0; height: 0; font-size: 0;
          border-left: 12px solid rgba(255, 255, 255, 0.69);
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }
      }
    }
  }
  .cool-lightbox-main {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .cool-lightbox-iframe,
  .cool-lightbox-video,
  .cool-lightbox-image{
    // position: absolute; top: 50%; left: 50%;
    // transform: translate3d(-50%, -50%, 0px);
    // transition: all .3s ease;
    display: flex; justify-content: center; align-items: center;
    width: 100%; height: 100%;
  }
  .cool-lightbox-iframe,
  .cool-lightbox-video{
    iframe, video {
      width: 100%;
      height: 100%;
    }
  }
  .cool-lightbox-image{
    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      box-shadow: 0 0 1rem rgba(0,0,0,.25);
    }
  }
  .cool-lightbox-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease;
  }
  .cool-lightbox-caption {
    position: absolute; bottom: 0; left: 0; right: 0;
    z-index: 50;
    padding: 16px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
    transition: opacity .25s ease, visibility 0s ease .25s;
    
    @include breakpoint(phone) {
      padding: 20px 32px;
    }
    .caption-title{
      font-size: 14px;
      font-weight: bold;
      @include breakpoint(phone) {
        font-size: 16px;
      }
    }
    .caption-description{
      margin-top: 6px;
      font-size: 13px;
      @include breakpoint(phone) {
        font-size: 14px;
      }
    }
    a {
      color: #efefef;
      text-decoration: underline;
    }
  }
  
  .cool-lightbox-loading-wrapper {
    position: absolute; top: 50%; left: 50%; z-index: 50; z-index: 200;
    transform: translate(-50%, -50%);
  }
  .cool-lightbox-loading {
    animation: cool-lightbox-rotate 1s linear infinite;
    width: 50px; height: 50px;
    border: 5px solid #888;
    border-bottom-color: #fff;
    border-radius: 50%;
    opacity: .7;
  }
}

.cool-lightbox-modal-enter-active, .cool-lightbox-modal-leave-active {
  transition: opacity .35s
}
.cool-lightbox-modal-enter, .cool-lightbox-modal-leave-to {
  opacity: 0
}

.cool-lightbox-slide-change-enter-active, .cool-lightbox-slide-change-leave-active {
  transition: opacity 0.27s;
}

.cool-lightbox-slide-change-enter, .cool-lightbox-slide-change-leave-to  {
  opacity: 0;
}

@keyframes cool-lightbox-rotate {
  100% {
    transform: rotate(360deg);
  }
}
