// A map of breakpoints.
$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 1024px,
  desktop: 1202px
);

// Breakpoints SCSS
@mixin breakpoint($breakpoint) {
  // If the breakpoint exists in the map.
	@if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
	  //Build the media query
		@media (min-width: $breakpoint-value) {
			@content;
		}
	} 
}

body.compensate-for-scrollbar {
  overflow: hidden !important;
  touch-action: none;
}
.lg-on {
  scroll-behavior: unset;
}

.cool-lightbox{
  position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 9999;
  transition: all .3s ease;

  *, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }

  &-mask{
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(30, 30, 30, .9);
  }
  &-progressbar{
    position: absolute; top: 0; right: 0; left: 0; z-index: 200;
    height: 2px;
    transform-origin: 0;
    transform: scaleX(0);
    transition: transform 3s linear;
    background: #fa4242;
  }
  &-navigation{
    position: absolute; z-index: 100;
    top: calc(50% - 50px);
    width: 40px; height: 40px;
    padding: 8px;
    color: #ccc;
    background: rgba(30, 30, 30, .6);
    cursor: pointer;
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      color: #fff;
    }
    @include breakpoint(phone) {
      width: 56px; height: 56px;
      padding: 16px;
    }
    &.is-prev{
      left: 8px;
    }
    &.is-next{
      right: 8px;
    }
    svg{
      width: 100%; height: 100%;
    }
  }
  &-toolbar{
    position: absolute; top: 0; right: 0; left: 0; z-index: 100;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
    visibility: visible;
    color: #ccc;
    background-color: rgba(30, 30, 30, 0.6);
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }
    &__counter{
      margin-left: 16px;
      font-size: 16px;
    }
    &__buttons{
      display: flex;
      i.icon-btn{
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 10px;
        transition: color .2s;
        cursor: pointer;
        @include breakpoint(phone) {
          width: 44px;
          height: 44px;
          padding: 12px;
        }
        > svg {
          width: 100%;
          height: 100%;
        }
        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }

  &-zoom {
    position: absolute; bottom: 15px; left: 50%; z-index: 100;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    border-radius: 8px;
    background-color: rgba(15, 15, 15, 0.8);
    transform: translateX(-50%);
    input[type=range] {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 105px;
      background: transparent;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      transition: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #e6e6e6;
      border-radius: 11px;
      border: 0px solid #000000;
    }
    input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #000000;
      border: 1px solid #000000;
      height: 12px;
      width: 12px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -4.5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #e6e6e6;
    }
    input[type=range]::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      transition: 0.2s;
      box-shadow: 0px 0px 0px #000000;
      background: #e6e6e6;
      border-radius: 11px;
      border: 0px solid #000000;
    }
    input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #000000;
      border: 1px solid #000000;
      height: 12px;
      width: 12px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      transition: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    input[type=range]::-ms-fill-lower {
      background: #e6e6e6;
      border: 0px solid #000000;
      border-radius: 22px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-fill-upper {
      background: #e6e6e6;
      border: 0px solid #000000;
      border-radius: 22px;
      box-shadow: 0px 0px 0px #000000;
    }
    input[type=range]::-ms-thumb {
      box-shadow: 1px 1px 1px #000000;
      border: 1px solid #000000;
      height: 12px;
      width: 12px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
      background: #e6e6e6;
    }
    input[type=range]:focus::-ms-fill-upper {
      background: #e6e6e6;
    }
    .cool-lightbox-zoom__icon {
      height: 15px;
      width: 15px;
      color: #FFF;
      &:first-of-type {
        margin-right: 10px;
      }
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }
  &-thumbs {
    position: absolute; right: -102px; top: 0;
    height: 100vh;
    width: 102px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: none;
    background-color: #ddd;
    scrollbar-width: thin;
    scrollbar-color: #fa4242 rgba(175, 175, 175, 0.9);
    @include breakpoint(phone) {
      transition: all .3s ease;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    &::-webkit-scrollbar-thumb {
      background: #fa4242;
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb:active {
      background: #000000;
    }
    &::-webkit-scrollbar-track {
      background: #e1e1e1;
      border: 0px none #ffffff;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-track:hover {
      background: #666666;
    }
    &::-webkit-scrollbar-track:active {
      background: #333333;
    }
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
    @include breakpoint(phone) {
      width: 212px;
      right: -212px;
    }
    .cool-lightbox-thumbs__list {
      display: flex;
      flex-wrap: wrap;
      padding: 2px;
      padding-right: 0;
      .cool-lightbox__thumb {
        background-color: black;
        width: 100%;
        margin-right: 2px;
        margin-bottom: 2px;
        display: block;
        height: 75px;
        position: relative;
        @include breakpoint(phone) {
          width: calc(100%/2 - 2px);
        }
        &:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          content: '';
          z-index: 150;
          transition: all .3s ease;
          position: absolute;
          visibility: hidden;
          border: 3px solid #fa4242;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &.is-video {
          .cool-lightbox__thumb__icon {
            position: absolute;
            z-index: 100;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 25px;
            transform: translate(-50%,-50%);
            path {
              fill: #FFF;
            }
          }
          &:after {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
            position: absolute;
            background: rgba(0,0,0, 0.6);
          }
        }
        &.active, &:hover {
          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  &-inner {
    padding-top: 44px;
    position: absolute; top: 0; right: 0; left: 0; bottom: 0;
    overflow: hidden;
    transition: none;
    @include breakpoint(phone) {
      transition: all .3s ease;
    }
  }
  &.cool-lightbox--is-swipping {
    cursor: -webkit-grabbing; 
    cursor: grabbing;
    iframe {
      pointer-events: none;
    }
    .cool-lightbox-slide {
      transition: none;
    }
  }
  &.cool-lightbox--zoom-disabled {
    .cool-lightbox-slide {
      .cool-lightbox-image {
        transform: translate3d(-50%, -50%, 0px);
      }
    }
  }
  &.cool-lightbox--can-zoom {
    .cool-lightbox-slide {
      img {
        cursor: zoom-in;
      }
    }
  }
  &.cool-lightbox--is-zooming {
    .cool-lightbox-slide {
      img {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab; 
      }
    }
    .cool-lightbox-caption {
      opacity: 0;
    }
  }
  &.cool-lightbox--thumbs-right {
    &.cool-lightbox--show-thumbs {
      .cool-lightbox-inner {
        right: 102px;
        @include breakpoint(phone) {
          right: 212px;
        }
      }
      .cool-lightbox-thumbs {
        right: 0;
      }
    }
  }
  &.cool-lightbox--thumbs-bottom {
    .cool-lightbox-thumbs {
      width: 100%;
      left: 0;
      right: 0;
      top: auto;
      height: 70px;
      bottom: -70px;
      overflow-y: hidden;
      overflow-x: auto;
      @include breakpoint(phone) {
        bottom: -79px;
        height: 79px;
      }
      .cool-lightbox-thumbs__list {
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        .cool-lightbox__thumb {
          width: 100px;
          flex-shrink: 0;
          margin-bottom: 0;
          height: 65px;
          @include breakpoint(phone) {
            height: 75px;
          }
        }
      }
    }
    &.cool-lightbox--show-thumbs {
      .cool-lightbox-inner {
        bottom: 70px;
        @include breakpoint(phone) {
          bottom: 79px;
        }
      }
      .cool-lightbox-thumbs {
        bottom: 0;
      }
    }
  }
  &-main {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .cool-lightbox-iframe{
    position: relative;
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .cool-lightbox-video {
    position: relative; top: 50%; left: 50%;
    transform: translate3d(-50%, -50%, 0px) scale3d(1, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    iframe, video {
      width: 100%;
      height: 100%;
    }
  }
  .cool-lightbox-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform .3s ease;
    
    .cool-lightbox-image {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 50%;
      top: 50%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: translate3d(-50%, -50%, 0px) scale3d(1, 1, 1);
      transition: all .3s ease;
      display: flex;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0); 
      transform: translateZ(0);
      box-shadow: 0 0 1.5rem rgba(0,0,0,.45);
    }
  }
}


.cool-lightbox-caption {
  position: absolute; bottom: 0; left: 0; right: 0;
  z-index: 50;
  padding: 16px 24px;
  color: #e0e0e0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 1;
  transition: opacity .25s ease, visibility 0s ease .25s;
  background: linear-gradient(0deg,rgba(0,0,0,.75) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);
  @include breakpoint(phone) {
    padding: 20px 32px;
  }
  .caption-title{
    font-size: 14px;
    font-weight: bold;
    @include breakpoint(phone) {
      font-size: 16px;
    }
  }
  .caption-description{
    margin-top: 6px;
    font-size: 13px;
    @include breakpoint(phone) {
      font-size: 14px;
    }
  }
  a {
    color: #efefef;
    text-decoration: underline;
  }
}

.cool-lightbox-loading-wrapper {
  position: absolute; top: 50%; left: 50%; z-index: 50;
  transform: translate(-50%, -50%);

  .cool-lightbox-loading {
    animation: cool-lightbox-rotate 1s linear infinite;
    background: transparent;
    border: 5px solid #888;
    border-bottom-color: #fff;
    border-radius: 50%;
    height: 50px;
    opacity: .7;
    padding: 0;
    width: 50px;
    z-index: 200;
  }
}

.cool-lightbox-modal-enter-active, .cool-lightbox-modal-leave-active {
  transition: opacity .35s
}
.cool-lightbox-modal-enter, .cool-lightbox-modal-leave-to {
  opacity: 0
}

.cool-lightbox-slide-change-enter-active, .cool-lightbox-slide-change-leave-active {
  transition: opacity 0.27s;
}

.cool-lightbox-slide-change-enter, .cool-lightbox-slide-change-leave-to  {
  opacity: 0;
}

@keyframes cool-lightbox-rotate {
  100% {
    transform: rotate(360deg);
  }
}
